.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 720px;
  padding: 20px 10px;

  &-left {
    font-weight: 700;
  }

  .gnb {
    &-link-list {
      display: flex;
    }

    &-link-item {
      &:first-child {
        margin-right: 8px;
      }
    }
  }
}
